* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(45deg, #ff0057, #2196f3);
  background: -o-linear-gradient(45deg, #ff0057, #2196f3);
  background: linear-gradient(45deg, #ff0057, #2196f3);
}

h2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  color: #fff;
  font-size: 4em;
  cursor: pointer;
}

h2 span {
  position: relative;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  padding: 0 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

h2 span:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

h2 span i {
  position: absolute;
  inset: 0;
  background: transparent;
}

h2 span:hover i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 8px;
  background: #fff;
  -webkit-box-shadow: 0 53px #fff, 36px 53px #fff, 36px 0 #fff;
          box-shadow: 0 53px #fff, 36px 53px #fff, 36px 0 #fff;
}

h2 span:hover i::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 2px;
  background: #fff;
  -webkit-box-shadow: 0 60px #fff, 30px 60px #fff, 30px 0 #fff;
          box-shadow: 0 60px #fff, 30px 60px #fff, 30px 0 #fff;
}
